{% import "widgets/ffpage-macros-old.html.twig" as ff_widget %}
{{formattr.source}}
<h3>FF Page - Default HTML </h3>
{% if (formattr.showform | default('Y'))=='Y' %}
    <form name="{{formattr.prefix}}{{formattr.source|replace(" ","_")|replace("__","_")}}_n" class="form form-compact1 form-horizontal" 
          action='{{formattr.action}}'  role="form" method="post">
        <input type='hidden' name='fs' value='{{formattr.fs|default('')}}'>
    {% endif %}    
    {% set fldcount = 0 %}
    {% for fid, field in formattr.fields  if ( field.showin_editform =='Y') %}
        {# macro uf_select(id, name, label, option_array, lclass, iclass,multiple=false, help='',value="", include_blank=true,other_att="", size="") #}
        {% set ffldid = prefix~'_'~field.db_field %}
        {% if formattr.array_prefix is empty %}
            {% set ffldname = field.db_field %}
            {% set ffldval = formattr.data[field.db_field] %}
        {% else %}
            {% set ffldname = formattr.array_prefix~'['~field.db_field~']' %}
            {% set ffldval = formattr.data[formattr.array_prefix][field.db_field] %}
        {% endif %}
        {% if ffldval is empty  and field.db_field=='user_id' %}
            {% set ffldval = user.id %}
        {% endif %}
        {% if field.visible=='N' %}
            <input type="hidden" name='{{ffldname}}' id='{{ffldid}}' value='{{ffldval}}'>
        {%else %}
            {% if fldcount == 0 %}
                <div class="row form-group">
                {% endif %}
                {% set fldcount = fldcount + 1 %}
                {%if field.type=='select' %}
                    {{  ff_widget.uf_select((ffldid),ffldname, field.label, field.options, "col-sm-2 "~field.lable_class,"col-sm-4 "~field.class,false,'',ffldval)}}
                {% elseif field.type=='checkbox' %}
                    {{  ff_widget.uf_select((ffldid),(ffldname~'[]'), field.label, field.options, "col-sm-2 "~field.lable_class,"col-sm-4 "~field.class,true,'',ffldval)}}
                {% elseif field.type=='textarea' %}
                    {{  ff_widget.uf_textarea((ffldid),ffldname, field.label, "col-sm-2 "~field.lable_class,"col-sm-4 dbf_textarea "~field.class,field.label,ffldval)}}
                {% else %}
                    {{ ff_widget.uf_inputtext(field.type,ffldid,ffldname,field.label,field.addon, "col-sm-2 "~field.lable_class,"col-sm-4 "~field.class,field.label,'','',ffldval) }}
                {% endif %}
                {% if fldcount == (formattr.fields_perrow|default(2)) %}
                    {% set fldcount = 0 %}
                </div>
            {% endif %}
        {% endif %}

    {% endfor %}
    {% if fldcount == 1 %}
        <div class="col-sm-6">
        </div>
    </div>
{% endif %}
{% if formattr.detail_content %}
    <div class="row">
        <div class="col-sm-12">
            {{ formattr.detail_content.html |raw }}
        </div>
    </div>    
{% endif %}
{% if (formattr.showsubmit | default('Y'))=='Y' %}
    <div class="row">
        <div class="col-sm-12">
            {{ ff_widget.uf_button('btn_1','submit_id' ,(formattr.fs|default('')),'btn-primary','Touchdown') }}
        </div>
    </div>
{% endif %}
{% if (formattr.showform | default('Y'))=='Y' %}
    <div class="collapse">
        <label>Spiderbro: Don't change me bro, I'm tryin'a catch some flies!</label>
        <input name="spiderbro" id="spiderbro" value="http://"/>
    </div>          
</form>
{% endif %}
