{% macro error_block(errors) %}
    {% if errors %}
        <span class="help-block">
            <ul>
                {% for err in errors %}
                    <li>{{ err }}</li>
                    {% endfor %}
            </ul>
        </span>
    {% endif %}
{% endmacro %}

{% macro af_inputtext(field) %}
    {#     <div class="form-group"> #}
    <label for="{{field.id}}" class="control-label {{field.lable_class}} text-right">{{field.label}}</label>
    <div class="{{field.input_class}}">
        {% if field.addon is not empty %}
            <div class="input-group">
                <span class="input-group-addon"><i class="{{field.addon}}"></i></span>
                {% endif %}
            <input type="{% if field.type in ['date','datetime'] %}text{% elseif field.type in ['staticinput'] %}hidden{%else%}{{field.type}}{% endif %}" 
                   {% if field.type not in ['staticinput'] %}
                        class=" input-sm form-control {% if field.type in ['date','datetime'] %} datepicker {% endif %} " 
                        placeholder="{{field.placeholder}}"
                   {% endif %}
                   name="{{field.name}}" 
                   id="{{field.id}}"   value="{% if field.type in ['date','datetime'] %}{% if field.value is not empty %}{{field.value|date('m/d/Y')}}{% endif %}{% else %}{{field.value}}{%endif%}" 
                   {% if field.size is not empty %}
                       size="{{field.size}}"
                   {% endif %}
                   {% if field.atuocomplete is not empty %}
                       autocomplete="{{field.atuocomplete}}" 
                   {% endif %}
                   {{field.custom}} {% if field.type in ['number'] %} min="{{field.min|default(0)}}" 
                       {% if field.max  is not empty %} max="{{field.max|default(10000000)}}" {% endif %} 
                   {% endif %}>
                   {% if field.type in ['staticinput'] %}
                           <p class='form-control' id='{{field.id}}_text' style="width:100%;">{{field.value}}</p>
                   {% endif %}
            {% if field.addon is not empty %}
            </div>
        {% endif %}
    </div>
    {#    </div> #}
{% endmacro %}

{% macro af_textarea(field) %}
    {% import _self as form %}
    {#     <div class="form-group"> #}
    <label class="control-label {{field.lable_class}}">{{field.label}}</label>
    <div class="{{field.input_class}}">
        <textarea rows="{{field.rows|default(3)}}"  cols="{{field.cols|default(60)}}" class="form-control {{field.input_class}}" id="{{field.id | default("input_" ~ field.name ~ "_i" ) }}"  
                  name="{{ field.name }}" placeholder="{{ field.placeholder|default(field.label) }}">{{ field.value }}</textarea>
        {{ form.error_block(field.errors) }}
    </div>
{% endmacro %}    

{% macro af_select(field) %}
    {#    <div class="form-group"> #}
    {% set dbfid = field.id | default("sel_" ~ field.name ~ "_i" ) %}
    <label class="text-right control-label {{field.label_class}}" for="{{dbfid}}">{{ field.label }}</label>
    <div class="{{field.iclass}}">
        <select id="{{dbfid}}"  name="{{ field.name }}" class="selectpicker form-control disable-text-shadow {% if field.multiple %}bootstrap-multiselect{% endif %}"
                 {% if field.multiple %}multiple="multiple"{% endif %}>
            {% set selvalue = 'selected' %}
            {% for seloption in field.options %}
                <option value="{{seloption.value}}" 
                        {% if field.value is iterable %}
                            {% if seloption.value in field.value%} {{selvalue}}{%endif%}
                        {% elseif multiple and field.value|split(',') is iterable %}
                            {% if seloption.value in field.value|split(',')%} {{selvalue}}{%endif%}
                        {% elseif value == seloption.value %}{{selvalue}}
                             {% if not field.multiple %} {% set selvalue = '' %}{%endif%}
                        {% endif %}
                        >{{ seloption.text|default(seloption.value) }}</option>
            {% endfor %}
            {% if field.include_blank and not field.multiple %}
                <option {{selvalue}}></option>
            {% endif %}
        </select>
        {% if field.help is not empty %}
            <p class="help-block">{{field.help}}</p>
        {% endif %}
    </div>
    {#    </div> #}
{% endmacro %}

{% macro af_checkbox(id, name, label, option_array, lclass,iclass, help='',value="", other_att="", size="",inline=false) %}
    <label class="control-label {{lclass}}">{{ label }}</label>
    <div class="{{iclass}}">
        {% for seloption in option_array %}
            <div class="input-group {% if inline %}checkbox-inline{% endif %}">
                <input id="{{id | default("ck_" ~ name ~ "_i" ) }}"   name="{{name}}[]"  type="checkbox" class='input-sm'
                       value="{{seloption.value}}" {% if value == seloption.value %}checked{% endif %} >
                {{ seloption.text|default(seloption.value) }}
            </div>
        {% endfor %}
        {% if help is not empty %}
            <p class="help-block">{{help}}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro af_button(id, name, value, class, label) %}
    <button type="submit" id="{{id | default('btn_' ~ name ~ '_i' ) }}" 
        value='{{value}}'    name="{{ name }}" class="btn {{class|default('btn-primary')}}">{{label}}
    </button>
{% endmacro %}